@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}

body {
  font-family: 'Open Sans';
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px 150px;
  background-color: #F5EEE6;
}

nav {
  background-color: #4244b3;
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  color: #1aeec0;
}

a.active {
  color: #1aeec0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
